{% extends 'main/template.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<form action="/" class="d-flex w-50 mx-auto align-items-center">
    <input class="form-control" type="search" placeholder="Найти..." name="search" value="{{search}}" maxlength="40"
        autofocus>
    <button class="btn btn-primary mx-2" type="submit">Поиск</button>
</form>
<div class="wrapper">
    {% for el in questions %}
    <div class="list-group">
        <a href="/question/{{ el.id }}" class="list-group-item list-group-item-action" aria-current="true">
            <div class="flex-title">
                <img src="{{el.preview}}" alt="Превью {{el.title}}">
                <h6 class="mb-0">{{ el.title }}</h6>
                <p class="mb-0 opacity-75">{{ el.author }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% if tasks == 0 %}
<h2>Сделайте анкету первым!</h2>
{% endif %}
<div class="pagination">
    {% block pagination %}
    {% if page.has_previous %}
    <a href="/{{page.previous_page_number}}">≪ Предыдущая</a>
    {% endif %}
    <a>{{page.number}}</a>
    {% if page.has_next %}
    <a href="/{{page.next_page_number}}">Следующая ≫</a>
    {% endif %}
    {% endblock %}
</div>
{% if not questions %}
{% if search %} <h2>Ничего не найдено :(</h2> {% endif %}
{% endif %}
{% endblock %}