{% extends 'main/template.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<form action="/profile" class="d-flex w-50 mx-auto align-items-center">
    <input class="form-control" type="search" placeholder="Найти..." name="search" value="{{search}}" maxlength="40"
        autofocus>
    <button class="btn btn-primary mx-2" type="submit">Поиск</button>
</form>
<div class="wrapper">
    {% for el in questions %}
    <div class="list-group">
        <a href="/question/{{ el.id }}" class="list-group-item list-group-item-action" aria-current="true">
            <div class="flex-title">
                <img src="{{el.preview}}" alt="Превью {{el.title}}">
                <h6 class="mb-0">{{ el.title }}</h6>
            </div>
        </a>
        <div class="d-flex flex-row mb-2 align-items-center">
            <a href="/edit/{{ el.id }}" class="btn btn-secondary w-100 mx-1" role="button">Редактировать</a>
            <form class="w-100" action='/delete/{{ el.id }}/' method='post'>
                {% csrf_token %}
                <button class="btn btn-danger w-100 mx-1" type='submit' name='delete' value='Delete'>Удалить</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% if not questions %}
{% if not search %} <h2>У вас ещё нет созданных анкет :(</h2> {% endif %}
{% if search %} <h2>Ничего не найдено :(</h2> {% endif %}
{% endif %}
{% endblock %}